body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1125px;
}
#u4278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1125px;
  display:flex;
}
#u4278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:313px;
  width:184px;
  height:53px;
  display:flex;
}
#u4279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:140px;
  width:539px;
  height:30px;
  display:flex;
}
#u4280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1736px;
  height:1025px;
  background:inherit;
  background-color:rgba(240, 242, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:100px;
  width:1736px;
  height:1025px;
  display:flex;
}
#u4281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(229, 244, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:66px;
  width:49px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u4282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 147, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00935C;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:521px;
  width:184px;
  height:43px;
  display:flex;
  color:#00935C;
}
#u4283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:534px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4284_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:535px;
  width:15px;
  height:15px;
  display:flex;
}
#u4285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4286 {
  position:absolute;
  left:195px;
  top:200px;
}
#u4286_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1695px;
  height:880px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4286_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1695px;
  height:810px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1695px;
  height:810px;
  display:flex;
}
#u4287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:192px;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:290px;
  width:199px;
  height:192px;
  display:flex;
}
#u4288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4289 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:525px;
  width:829px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4289_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4291 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4291_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4291.mouseOver {
}
#u4291_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 147, 92, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 147, 92, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4291.selected {
}
#u4291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4292 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:126px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4292 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4292_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4292.mouseOver {
}
#u4292_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 147, 92, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 147, 92, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4292.selected {
}
#u4292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4293 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:126px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4293 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4293_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4293.mouseOver {
}
#u4293_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 147, 92, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 147, 92, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4293.selected {
}
#u4293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4294 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:126px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4294 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4294_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4294.mouseOver {
}
#u4294_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 147, 92, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 147, 92, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4294.selected {
}
#u4294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4295 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:0px;
  width:126px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4295 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4295_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4295.mouseOver {
}
#u4295_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 147, 92, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 147, 92, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4295.selected {
}
#u4295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4296 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:126px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4296 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4296_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4296.mouseOver {
}
#u4296_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 147, 92, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 147, 92, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4296.selected {
}
#u4296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(138, 138, 138, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(138, 138, 138, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(138, 138, 138, 0.349019607843137);
}
#u4298 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:110px;
  width:1720px;
  height:70px;
  display:flex;
}
#u4298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u4299 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:132px;
  width:477px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u4299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4299_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u4300 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:134px;
  width:74px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3366FF;
  text-align:center;
}
#u4300 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 147, 92, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00935C;
}
#u4301 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:127px;
  width:132px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00935C;
}
#u4301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 39, 39, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF2727;
  text-align:center;
}
#u4302 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:127px;
  width:132px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF2727;
  text-align:center;
}
#u4302 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 147, 92, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4303 {
  border-width:0px;
  position:absolute;
  left:1765px;
  top:127px;
  width:132px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4303 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 147, 92, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00935C;
}
#u4304 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:127px;
  width:132px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00935C;
}
#u4304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 147, 92, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00935C;
}
#u4305 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:127px;
  width:145px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00935C;
}
#u4305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4306 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:200px;
  width:900px;
  height:170px;
  visibility:hidden;
}
#u4306_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4306_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
}
#u4307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:128px;
  height:30px;
  display:flex;
}
#u4307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4308 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:67px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4308 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4308_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4309 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:70px;
  width:14px;
  height:14px;
  display:flex;
}
#u4309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
}
#u4310 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:62px;
  width:145px;
  height:30px;
  display:flex;
}
#u4310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4311 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:67px;
  width:99px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4311 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4311_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4312 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:70px;
  width:14px;
  height:14px;
  display:flex;
}
#u4312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4313 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:77px;
  width:0px;
  height:0px;
}
#u4313_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:125px;
  height:10px;
}
#u4313_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4313_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u4314 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:63px;
  width:61px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u4314 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4314_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
}
#u4315 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:109px;
  width:145px;
  height:30px;
  display:flex;
}
#u4315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4316 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:114px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4316_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4317 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:117px;
  width:14px;
  height:14px;
  display:flex;
}
#u4317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4318 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:77px;
  width:0px;
  height:0px;
}
#u4318_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u4318_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-5px;
  width:10px;
  height:57px;
}
#u4318_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:42px;
  width:65px;
  height:10px;
}
#u4318_seg3 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:38px;
  width:18px;
  height:18px;
}
#u4318_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4319 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:92px;
  width:0px;
  height:0px;
}
#u4319_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u4319_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:7px;
  width:18px;
  height:18px;
}
#u4319_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
}
#u4320 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:17px;
  width:164px;
  height:30px;
  display:flex;
}
#u4320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4321 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:22px;
  width:124px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4321 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4321_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4322 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u4322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4323 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:124px;
  width:0px;
  height:0px;
}
#u4323_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:52px;
  height:10px;
}
#u4323_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-97px;
  width:10px;
  height:102px;
}
#u4323_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-97px;
  width:56px;
  height:10px;
}
#u4323_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-101px;
  width:18px;
  height:18px;
}
#u4323_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
}
#u4324 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:92px;
  width:164px;
  height:30px;
  display:flex;
}
#u4324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4325 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:97px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4325 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4325_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4326 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:100px;
  width:14px;
  height:14px;
  display:flex;
}
#u4326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u4327 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:70px;
  width:26px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u4327 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4328 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:47px;
  width:0px;
  height:0px;
}
#u4328_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u4328_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:18px;
}
#u4328_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u4329 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:53px;
  width:27px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u4329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
  text-align:center;
}
#u4330 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:144px;
  width:83px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
  text-align:center;
}
#u4330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
}
#u4331 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:17px;
  width:114px;
  height:30px;
  display:flex;
}
#u4331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4332 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:22px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4333 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u4333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4334 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:107px;
  width:0px;
  height:0px;
}
#u4334_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:60px;
  height:10px;
}
#u4334_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-80px;
  width:10px;
  height:85px;
}
#u4334_seg2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-80px;
  width:69px;
  height:10px;
}
#u4334_seg3 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-84px;
  width:18px;
  height:18px;
}
#u4334_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
  text-align:center;
}
#u4335 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:13px;
  width:83px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
  text-align:center;
}
#u4335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4336 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:32px;
  width:0px;
  height:0px;
}
#u4336_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:124px;
  height:10px;
}
#u4336_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4336_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
  text-align:center;
}
#u4337 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:127px;
  width:83px;
  height:14px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
  text-align:center;
}
#u4337 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(219, 219, 219, 0.349019607843137);
}
#u4338 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:14px;
  width:145px;
  height:30px;
  display:flex;
}
#u4338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4339 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:19px;
  width:99px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4339_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4340 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:22px;
  width:14px;
  height:14px;
  display:flex;
}
#u4340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4341 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:77px;
  width:0px;
  height:0px;
}
#u4341_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u4341_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-53px;
  width:10px;
  height:58px;
}
#u4341_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-53px;
  width:65px;
  height:10px;
}
#u4341_seg3 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-57px;
  width:18px;
  height:18px;
}
#u4341_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4342 {
  position:absolute;
  left:838px;
  top:135px;
}
#u4342_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4342_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4343 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4343_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4342_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4342_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4344 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4344_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
